.follower-container {
    margin-top: 10px;
}

.follower-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    margin-left: 2.5%;
}

a {
    text-decoration: none;
}

.user-follower-avatar{
    max-width: 1.7em;
    max-height: 1.7em;
    border-radius: 50%;
}

.follower-login {
    margin-left: .6em;
    color: black;
}

h2 {
    margin: 0;
    padding: 0;
    
}
