.repo-container {
    margin-top: 10px;
}

h2 {
    margin: 0;
    padding: 0;
}

.repo-name-container {
    display: flex;
    flex-direction: row;
    padding: 4px;
    
    align-items: center;
    margin-left: 2.5%;
}

.repo-star-count {
    border: solid 1.5px;
    border-radius: 2px;
    display: flex;
    margin-left: 4px;
    align-items: center;
    padding: 1px;
}

.star {
    position: relative;
    bottom: 2px;
    font-size: 13pt;
}


